* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

header > .row {
    background-color:rgb(27, 99, 146);
    color: white;
    padding: 10px 0;
}

#shopping-cart-area{
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px 10px 10px;
}

#shopping-cart {
    width: 10%;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orangered;
    margin-bottom: 10% auto;
    position: relative;
    font-size: .75em;
    color: white;
    font-weight: bold;
}

.circle-text {
    position: absolute;
    height: auto;
    width: inherit;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

@media (max-width: 767px) {
    h1 {
        text-align: center;
    }
    #shopping-cart-area {
        justify-content: center;
        padding: 0 15px;
    }
    .circle {
        width: 15px;
        height: 15px;
        font-size: .5em;
    }
}

@media (max-width: 281px) {
    #shopping-cart {
        width: 20%;
    }
}    

main h2 {
    text-align: center;
    margin: 30px 0;
}

#showcase-layout {
    background-color: rgb(235, 102, 26);
}

.items {
    background-color: brown;
    margin: 10px 0;
}

#ticket > span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#bill {
    border-top: 1px solid rgb(88, 86, 86);
    margin-top: 20px;
}

#ticket-title {
    background-color: rgb(228, 228, 228);
    margin-bottom: 20px;
}